{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-06-05",
    "asyncClient" : "AWSBedrockAgentAsyncClient",
    "asyncClientBuilderClassName" : "AWSBedrockAgentAsyncClientBuilder",
    "asyncInterface" : "AWSBedrockAgentAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AWSBedrockAgentModuleInjector",
    "defaultEndpoint" : "bedrock-agent.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock-agent.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>An example service, deployed with the Octane Service creator, which will echo the string</p>",
    "endpointPrefix" : "bedrock-agent",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrockagent",
    "packagePath" : "com/amazonaws/services/bedrockagent",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Agents for Amazon Bedrock",
    "serviceId" : "Bedrock Agent",
    "serviceName" : "Agents for Amazon Bedrock",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrockagent.smoketests",
    "syncClient" : "AWSBedrockAgentClient",
    "syncClientBuilderClassName" : "AWSBedrockAgentClientBuilder",
    "syncInterface" : "AWSBedrockAgent",
    "uid" : "bedrock-agent-2023-06-05",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssociateAgentKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssociateAgentKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssociateAgentKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssociateAgentKnowledgeBaseRequest, AssociateAgentKnowledgeBaseResult>",
      "asyncReturnType" : "AssociateAgentKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Associate a Knowledge Base to an existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssociateAgentKnowledgeBaseRequest",
        "variableName" : "associateAgentKnowledgeBaseRequest",
        "variableType" : "AssociateAgentKnowledgeBaseRequest",
        "documentation" : "<p>Associate Agent Knowledge Base Request</p>",
        "simpleType" : "AssociateAgentKnowledgeBaseRequest",
        "variableSetterType" : "AssociateAgentKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "associateAgentKnowledgeBase",
      "operationName" : "AssociateAgentKnowledgeBase",
      "returnType" : {
        "returnType" : "AssociateAgentKnowledgeBaseResult",
        "documentation" : "<p>Associate Agent Knowledge Base Response</p>"
      },
      "syncReturnType" : "AssociateAgentKnowledgeBaseResult"
    },
    "CreateAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAgentRequest, CreateAgentResult>",
      "asyncReturnType" : "CreateAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAgentRequest",
        "variableName" : "createAgentRequest",
        "variableType" : "CreateAgentRequest",
        "documentation" : "<p>Create Agent Request</p>",
        "simpleType" : "CreateAgentRequest",
        "variableSetterType" : "CreateAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAgent",
      "operationName" : "CreateAgent",
      "returnType" : {
        "returnType" : "CreateAgentResult",
        "documentation" : "<p>Create Agent Response</p>"
      },
      "syncReturnType" : "CreateAgentResult"
    },
    "CreateAgentActionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAgentActionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAgentActionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAgentActionGroupRequest, CreateAgentActionGroupResult>",
      "asyncReturnType" : "CreateAgentActionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Action Group for existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAgentActionGroupRequest",
        "variableName" : "createAgentActionGroupRequest",
        "variableType" : "CreateAgentActionGroupRequest",
        "documentation" : "<p>Create Action Group Request</p>",
        "simpleType" : "CreateAgentActionGroupRequest",
        "variableSetterType" : "CreateAgentActionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAgentActionGroup",
      "operationName" : "CreateAgentActionGroup",
      "returnType" : {
        "returnType" : "CreateAgentActionGroupResult",
        "documentation" : "<p>Create Action Group Response</p>"
      },
      "syncReturnType" : "CreateAgentActionGroupResult"
    },
    "CreateAgentAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAgentAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAgentAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAgentAliasRequest, CreateAgentAliasResult>",
      "asyncReturnType" : "CreateAgentAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates an Alias for an existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAgentAliasRequest",
        "variableName" : "createAgentAliasRequest",
        "variableType" : "CreateAgentAliasRequest",
        "documentation" : "<p>Create Agent Alias Request</p>",
        "simpleType" : "CreateAgentAliasRequest",
        "variableSetterType" : "CreateAgentAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAgentAlias",
      "operationName" : "CreateAgentAlias",
      "returnType" : {
        "returnType" : "CreateAgentAliasResult",
        "documentation" : "<p>Create Agent Alias Response</p>"
      },
      "syncReturnType" : "CreateAgentAliasResult"
    },
    "CreateDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateDataSourceRequest, CreateDataSourceResult>",
      "asyncReturnType" : "CreateDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new data source</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateDataSourceRequest",
        "variableName" : "createDataSourceRequest",
        "variableType" : "CreateDataSourceRequest",
        "documentation" : "",
        "simpleType" : "CreateDataSourceRequest",
        "variableSetterType" : "CreateDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createDataSource",
      "operationName" : "CreateDataSource",
      "returnType" : {
        "returnType" : "CreateDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateDataSourceResult"
    },
    "CreateKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateKnowledgeBaseRequest, CreateKnowledgeBaseResult>",
      "asyncReturnType" : "CreateKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Create a new knowledge base</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateKnowledgeBaseRequest",
        "variableName" : "createKnowledgeBaseRequest",
        "variableType" : "CreateKnowledgeBaseRequest",
        "documentation" : "",
        "simpleType" : "CreateKnowledgeBaseRequest",
        "variableSetterType" : "CreateKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createKnowledgeBase",
      "operationName" : "CreateKnowledgeBase",
      "returnType" : {
        "returnType" : "CreateKnowledgeBaseResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateKnowledgeBaseResult"
    },
    "DeleteAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAgentRequest, DeleteAgentResult>",
      "asyncReturnType" : "DeleteAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Agent for existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAgentRequest",
        "variableName" : "deleteAgentRequest",
        "variableType" : "DeleteAgentRequest",
        "documentation" : "<p>Delete Agent Request</p>",
        "simpleType" : "DeleteAgentRequest",
        "variableSetterType" : "DeleteAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAgent",
      "operationName" : "DeleteAgent",
      "returnType" : {
        "returnType" : "DeleteAgentResult",
        "documentation" : "<p>Delete Agent Response</p>"
      },
      "syncReturnType" : "DeleteAgentResult"
    },
    "DeleteAgentActionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAgentActionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAgentActionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAgentActionGroupRequest, DeleteAgentActionGroupResult>",
      "asyncReturnType" : "DeleteAgentActionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Action Group for existing Amazon Bedrock Agent.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAgentActionGroupRequest",
        "variableName" : "deleteAgentActionGroupRequest",
        "variableType" : "DeleteAgentActionGroupRequest",
        "documentation" : "<p>Delete Action Group Request</p>",
        "simpleType" : "DeleteAgentActionGroupRequest",
        "variableSetterType" : "DeleteAgentActionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAgentActionGroup",
      "operationName" : "DeleteAgentActionGroup",
      "returnType" : {
        "returnType" : "DeleteAgentActionGroupResult",
        "documentation" : "<p>Delete Action Group Response</p>"
      },
      "syncReturnType" : "DeleteAgentActionGroupResult"
    },
    "DeleteAgentAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAgentAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAgentAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAgentAliasRequest, DeleteAgentAliasResult>",
      "asyncReturnType" : "DeleteAgentAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Alias for a Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAgentAliasRequest",
        "variableName" : "deleteAgentAliasRequest",
        "variableType" : "DeleteAgentAliasRequest",
        "documentation" : "<p>Delete Agent Alias Request</p>",
        "simpleType" : "DeleteAgentAliasRequest",
        "variableSetterType" : "DeleteAgentAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAgentAlias",
      "operationName" : "DeleteAgentAlias",
      "returnType" : {
        "returnType" : "DeleteAgentAliasResult",
        "documentation" : "<p>Delete Agent Alias Response</p>"
      },
      "syncReturnType" : "DeleteAgentAliasResult"
    },
    "DeleteAgentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAgentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAgentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAgentVersionRequest, DeleteAgentVersionResult>",
      "asyncReturnType" : "DeleteAgentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an Agent version for existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAgentVersionRequest",
        "variableName" : "deleteAgentVersionRequest",
        "variableType" : "DeleteAgentVersionRequest",
        "documentation" : "<p>Delete Agent Version Request</p>",
        "simpleType" : "DeleteAgentVersionRequest",
        "variableSetterType" : "DeleteAgentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAgentVersion",
      "operationName" : "DeleteAgentVersion",
      "returnType" : {
        "returnType" : "DeleteAgentVersionResult",
        "documentation" : "<p>Delete Agent Version Response</p>"
      },
      "syncReturnType" : "DeleteAgentVersionResult"
    },
    "DeleteDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteDataSourceRequest, DeleteDataSourceResult>",
      "asyncReturnType" : "DeleteDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing data source</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteDataSourceRequest",
        "variableName" : "deleteDataSourceRequest",
        "variableType" : "DeleteDataSourceRequest",
        "documentation" : "",
        "simpleType" : "DeleteDataSourceRequest",
        "variableSetterType" : "DeleteDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteDataSource",
      "operationName" : "DeleteDataSource",
      "returnType" : {
        "returnType" : "DeleteDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteDataSourceResult"
    },
    "DeleteKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKnowledgeBaseRequest, DeleteKnowledgeBaseResult>",
      "asyncReturnType" : "DeleteKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Delete an existing knowledge base</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKnowledgeBaseRequest",
        "variableName" : "deleteKnowledgeBaseRequest",
        "variableType" : "DeleteKnowledgeBaseRequest",
        "documentation" : "",
        "simpleType" : "DeleteKnowledgeBaseRequest",
        "variableSetterType" : "DeleteKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKnowledgeBase",
      "operationName" : "DeleteKnowledgeBase",
      "returnType" : {
        "returnType" : "DeleteKnowledgeBaseResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteKnowledgeBaseResult"
    },
    "DisassociateAgentKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DisassociateAgentKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DisassociateAgentKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DisassociateAgentKnowledgeBaseRequest, DisassociateAgentKnowledgeBaseResult>",
      "asyncReturnType" : "DisassociateAgentKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Disassociate an existing Knowledge Base from an Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DisassociateAgentKnowledgeBaseRequest",
        "variableName" : "disassociateAgentKnowledgeBaseRequest",
        "variableType" : "DisassociateAgentKnowledgeBaseRequest",
        "documentation" : "<p>Disassociate Agent Knowledge Base Request</p>",
        "simpleType" : "DisassociateAgentKnowledgeBaseRequest",
        "variableSetterType" : "DisassociateAgentKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "disassociateAgentKnowledgeBase",
      "operationName" : "DisassociateAgentKnowledgeBase",
      "returnType" : {
        "returnType" : "DisassociateAgentKnowledgeBaseResult",
        "documentation" : "<p>Disassociate Agent Knowledge Base Response</p>"
      },
      "syncReturnType" : "DisassociateAgentKnowledgeBaseResult"
    },
    "GetAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAgentRequest, GetAgentResult>",
      "asyncReturnType" : "GetAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an Agent for existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAgentRequest",
        "variableName" : "getAgentRequest",
        "variableType" : "GetAgentRequest",
        "documentation" : "<p>Get Agent Request</p>",
        "simpleType" : "GetAgentRequest",
        "variableSetterType" : "GetAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAgent",
      "operationName" : "GetAgent",
      "returnType" : {
        "returnType" : "GetAgentResult",
        "documentation" : "<p>Get Agent Response</p>"
      },
      "syncReturnType" : "GetAgentResult"
    },
    "GetAgentActionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAgentActionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAgentActionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAgentActionGroupRequest, GetAgentActionGroupResult>",
      "asyncReturnType" : "GetAgentActionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an Action Group for existing Amazon Bedrock Agent Version</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAgentActionGroupRequest",
        "variableName" : "getAgentActionGroupRequest",
        "variableType" : "GetAgentActionGroupRequest",
        "documentation" : "<p>Get Action Group Request</p>",
        "simpleType" : "GetAgentActionGroupRequest",
        "variableSetterType" : "GetAgentActionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAgentActionGroup",
      "operationName" : "GetAgentActionGroup",
      "returnType" : {
        "returnType" : "GetAgentActionGroupResult",
        "documentation" : "<p>Get Action Group Response</p>"
      },
      "syncReturnType" : "GetAgentActionGroupResult"
    },
    "GetAgentAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAgentAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAgentAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAgentAliasRequest, GetAgentAliasResult>",
      "asyncReturnType" : "GetAgentAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Describes an Alias for a Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAgentAliasRequest",
        "variableName" : "getAgentAliasRequest",
        "variableType" : "GetAgentAliasRequest",
        "documentation" : "<p>Get Agent Alias Request</p>",
        "simpleType" : "GetAgentAliasRequest",
        "variableSetterType" : "GetAgentAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAgentAlias",
      "operationName" : "GetAgentAlias",
      "returnType" : {
        "returnType" : "GetAgentAliasResult",
        "documentation" : "<p>Get Agent Alias Response</p>"
      },
      "syncReturnType" : "GetAgentAliasResult"
    },
    "GetAgentKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAgentKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAgentKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAgentKnowledgeBaseRequest, GetAgentKnowledgeBaseResult>",
      "asyncReturnType" : "GetAgentKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets a knowledge base associated to an existing Amazon Bedrock Agent Version</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAgentKnowledgeBaseRequest",
        "variableName" : "getAgentKnowledgeBaseRequest",
        "variableType" : "GetAgentKnowledgeBaseRequest",
        "documentation" : "<p>Get Agent Knowledge Base Request</p>",
        "simpleType" : "GetAgentKnowledgeBaseRequest",
        "variableSetterType" : "GetAgentKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAgentKnowledgeBase",
      "operationName" : "GetAgentKnowledgeBase",
      "returnType" : {
        "returnType" : "GetAgentKnowledgeBaseResult",
        "documentation" : "<p>Get Agent Knowledge Base Response</p>"
      },
      "syncReturnType" : "GetAgentKnowledgeBaseResult"
    },
    "GetAgentVersion" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAgentVersionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAgentVersionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAgentVersionRequest, GetAgentVersionResult>",
      "asyncReturnType" : "GetAgentVersionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an Agent version for existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAgentVersionRequest",
        "variableName" : "getAgentVersionRequest",
        "variableType" : "GetAgentVersionRequest",
        "documentation" : "<p>Get Agent Version Request</p>",
        "simpleType" : "GetAgentVersionRequest",
        "variableSetterType" : "GetAgentVersionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAgentVersion",
      "operationName" : "GetAgentVersion",
      "returnType" : {
        "returnType" : "GetAgentVersionResult",
        "documentation" : "<p>Get Agent Version Response</p>"
      },
      "syncReturnType" : "GetAgentVersionResult"
    },
    "GetDataSource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataSourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataSourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataSourceRequest, GetDataSourceResult>",
      "asyncReturnType" : "GetDataSourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get an existing data source</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataSourceRequest",
        "variableName" : "getDataSourceRequest",
        "variableType" : "GetDataSourceRequest",
        "documentation" : "",
        "simpleType" : "GetDataSourceRequest",
        "variableSetterType" : "GetDataSourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataSource",
      "operationName" : "GetDataSource",
      "returnType" : {
        "returnType" : "GetDataSourceResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataSourceResult"
    },
    "GetIngestionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetIngestionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetIngestionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetIngestionJobRequest, GetIngestionJobResult>",
      "asyncReturnType" : "GetIngestionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get an ingestion job</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetIngestionJobRequest",
        "variableName" : "getIngestionJobRequest",
        "variableType" : "GetIngestionJobRequest",
        "documentation" : "",
        "simpleType" : "GetIngestionJobRequest",
        "variableSetterType" : "GetIngestionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getIngestionJob",
      "operationName" : "GetIngestionJob",
      "returnType" : {
        "returnType" : "GetIngestionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "GetIngestionJobResult"
    },
    "GetKnowledgeBase" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKnowledgeBaseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKnowledgeBaseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKnowledgeBaseRequest, GetKnowledgeBaseResult>",
      "asyncReturnType" : "GetKnowledgeBaseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Get an existing knowledge base</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKnowledgeBaseRequest",
        "variableName" : "getKnowledgeBaseRequest",
        "variableType" : "GetKnowledgeBaseRequest",
        "documentation" : "",
        "simpleType" : "GetKnowledgeBaseRequest",
        "variableSetterType" : "GetKnowledgeBaseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKnowledgeBase",
      "operationName" : "GetKnowledgeBase",
      "returnType" : {
        "returnType" : "GetKnowledgeBaseResult",
        "documentation" : null
      },
      "syncReturnType" : "GetKnowledgeBaseResult"
    },
    "ListAgentActionGroups" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAgentActionGroupsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAgentActionGroupsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAgentActionGroupsRequest, ListAgentActionGroupsResult>",
      "asyncReturnType" : "ListAgentActionGroupsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists an Action Group for existing Amazon Bedrock Agent Version</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAgentActionGroupsRequest",
        "variableName" : "listAgentActionGroupsRequest",
        "variableType" : "ListAgentActionGroupsRequest",
        "documentation" : "<p>List Action Groups Request</p>",
        "simpleType" : "ListAgentActionGroupsRequest",
        "variableSetterType" : "ListAgentActionGroupsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAgentActionGroups",
      "operationName" : "ListAgentActionGroups",
      "returnType" : {
        "returnType" : "ListAgentActionGroupsResult",
        "documentation" : "<p>List Action Groups Response</p>"
      },
      "syncReturnType" : "ListAgentActionGroupsResult"
    },
    "ListAgentAliases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAgentAliasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAgentAliasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAgentAliasesRequest, ListAgentAliasesResult>",
      "asyncReturnType" : "ListAgentAliasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists all the Aliases for an Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAgentAliasesRequest",
        "variableName" : "listAgentAliasesRequest",
        "variableType" : "ListAgentAliasesRequest",
        "documentation" : "<p>List Agent Aliases Request</p>",
        "simpleType" : "ListAgentAliasesRequest",
        "variableSetterType" : "ListAgentAliasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAgentAliases",
      "operationName" : "ListAgentAliases",
      "returnType" : {
        "returnType" : "ListAgentAliasesResult",
        "documentation" : "<p>List Agent Aliases Response</p>"
      },
      "syncReturnType" : "ListAgentAliasesResult"
    },
    "ListAgentKnowledgeBases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAgentKnowledgeBasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAgentKnowledgeBasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAgentKnowledgeBasesRequest, ListAgentKnowledgeBasesResult>",
      "asyncReturnType" : "ListAgentKnowledgeBasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List of Knowledge Bases associated to an existing Amazon Bedrock Agent Version</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAgentKnowledgeBasesRequest",
        "variableName" : "listAgentKnowledgeBasesRequest",
        "variableType" : "ListAgentKnowledgeBasesRequest",
        "documentation" : "<p>List Agent Knowledge Bases Request</p>",
        "simpleType" : "ListAgentKnowledgeBasesRequest",
        "variableSetterType" : "ListAgentKnowledgeBasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAgentKnowledgeBases",
      "operationName" : "ListAgentKnowledgeBases",
      "returnType" : {
        "returnType" : "ListAgentKnowledgeBasesResult",
        "documentation" : "<p>List Agent Knowledge Bases Response</p>"
      },
      "syncReturnType" : "ListAgentKnowledgeBasesResult"
    },
    "ListAgentVersions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAgentVersionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAgentVersionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAgentVersionsRequest, ListAgentVersionsResult>",
      "asyncReturnType" : "ListAgentVersionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists Agent Versions</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAgentVersionsRequest",
        "variableName" : "listAgentVersionsRequest",
        "variableType" : "ListAgentVersionsRequest",
        "documentation" : "<p>List Agent Versions Request</p>",
        "simpleType" : "ListAgentVersionsRequest",
        "variableSetterType" : "ListAgentVersionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAgentVersions",
      "operationName" : "ListAgentVersions",
      "returnType" : {
        "returnType" : "ListAgentVersionsResult",
        "documentation" : "<p>List Agent Versions Response</p>"
      },
      "syncReturnType" : "ListAgentVersionsResult"
    },
    "ListAgents" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAgentsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAgentsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAgentsRequest, ListAgentsResult>",
      "asyncReturnType" : "ListAgentsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists Agents</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAgentsRequest",
        "variableName" : "listAgentsRequest",
        "variableType" : "ListAgentsRequest",
        "documentation" : "<p>List Agent Request</p>",
        "simpleType" : "ListAgentsRequest",
        "variableSetterType" : "ListAgentsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAgents",
      "operationName" : "ListAgents",
      "returnType" : {
        "returnType" : "ListAgentsResult",
        "documentation" : "<p>List Agent Response</p>"
      },
      "syncReturnType" : "ListAgentsResult"
    },
    "ListDataSources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListDataSourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListDataSourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListDataSourcesRequest, ListDataSourcesResult>",
      "asyncReturnType" : "ListDataSourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List data sources</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListDataSourcesRequest",
        "variableName" : "listDataSourcesRequest",
        "variableType" : "ListDataSourcesRequest",
        "documentation" : "",
        "simpleType" : "ListDataSourcesRequest",
        "variableSetterType" : "ListDataSourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listDataSources",
      "operationName" : "ListDataSources",
      "returnType" : {
        "returnType" : "ListDataSourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListDataSourcesResult"
    },
    "ListIngestionJobs" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListIngestionJobsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListIngestionJobsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListIngestionJobsRequest, ListIngestionJobsResult>",
      "asyncReturnType" : "ListIngestionJobsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List ingestion jobs</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListIngestionJobsRequest",
        "variableName" : "listIngestionJobsRequest",
        "variableType" : "ListIngestionJobsRequest",
        "documentation" : "",
        "simpleType" : "ListIngestionJobsRequest",
        "variableSetterType" : "ListIngestionJobsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listIngestionJobs",
      "operationName" : "ListIngestionJobs",
      "returnType" : {
        "returnType" : "ListIngestionJobsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListIngestionJobsResult"
    },
    "ListKnowledgeBases" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKnowledgeBasesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKnowledgeBasesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKnowledgeBasesRequest, ListKnowledgeBasesResult>",
      "asyncReturnType" : "ListKnowledgeBasesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List Knowledge Bases</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKnowledgeBasesRequest",
        "variableName" : "listKnowledgeBasesRequest",
        "variableType" : "ListKnowledgeBasesRequest",
        "documentation" : "",
        "simpleType" : "ListKnowledgeBasesRequest",
        "variableSetterType" : "ListKnowledgeBasesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKnowledgeBases",
      "operationName" : "ListKnowledgeBases",
      "returnType" : {
        "returnType" : "ListKnowledgeBasesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKnowledgeBasesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>List tags for a resource</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "PrepareAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PrepareAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PrepareAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PrepareAgentRequest, PrepareAgentResult>",
      "asyncReturnType" : "PrepareAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Prepares an existing Amazon Bedrock Agent to receive runtime requests</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PrepareAgentRequest",
        "variableName" : "prepareAgentRequest",
        "variableType" : "PrepareAgentRequest",
        "documentation" : "<p>PrepareAgent Request</p>",
        "simpleType" : "PrepareAgentRequest",
        "variableSetterType" : "PrepareAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "prepareAgent",
      "operationName" : "PrepareAgent",
      "returnType" : {
        "returnType" : "PrepareAgentResult",
        "documentation" : "<p>PrepareAgent Response</p>"
      },
      "syncReturnType" : "PrepareAgentResult"
    },
    "StartIngestionJob" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartIngestionJobResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartIngestionJobResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartIngestionJobRequest, StartIngestionJobResult>",
      "asyncReturnType" : "StartIngestionJobResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Start a new ingestion job</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartIngestionJobRequest",
        "variableName" : "startIngestionJobRequest",
        "variableType" : "StartIngestionJobRequest",
        "documentation" : "",
        "simpleType" : "StartIngestionJobRequest",
        "variableSetterType" : "StartIngestionJobRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startIngestionJob",
      "operationName" : "StartIngestionJob",
      "returnType" : {
        "returnType" : "StartIngestionJobResult",
        "documentation" : null
      },
      "syncReturnType" : "StartIngestionJobResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Tag a resource</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Untag a resource</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    },
    "UpdateAgent" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAgentResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAgentResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAgentRequest, UpdateAgentResult>",
      "asyncReturnType" : "UpdateAgentResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAgentRequest",
        "variableName" : "updateAgentRequest",
        "variableType" : "UpdateAgentRequest",
        "documentation" : "<p>Update Agent Request</p>",
        "simpleType" : "UpdateAgentRequest",
        "variableSetterType" : "UpdateAgentRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAgent",
      "operationName" : "UpdateAgent",
      "returnType" : {
        "returnType" : "UpdateAgentResult",
        "documentation" : "<p>Update Agent Response</p>"
      },
      "syncReturnType" : "UpdateAgentResult"
    },
    "UpdateAgentActionGroup" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAgentActionGroupResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAgentActionGroupResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAgentActionGroupRequest, UpdateAgentActionGroupResult>",
      "asyncReturnType" : "UpdateAgentActionGroupResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Action Group for Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAgentActionGroupRequest",
        "variableName" : "updateAgentActionGroupRequest",
        "variableType" : "UpdateAgentActionGroupRequest",
        "documentation" : "<p>Update Action Group Request</p>",
        "simpleType" : "UpdateAgentActionGroupRequest",
        "variableSetterType" : "UpdateAgentActionGroupRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAgentActionGroup",
      "operationName" : "UpdateAgentActionGroup",
      "returnType" : {
        "returnType" : "UpdateAgentActionGroupResult",
        "documentation" : "<p>Update Action Group Response</p>"
      },
      "syncReturnType" : "UpdateAgentActionGroupResult"
    },
    "UpdateAgentAlias" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateAgentAliasResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateAgentAliasResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateAgentAliasRequest, UpdateAgentAliasResult>",
      "asyncReturnType" : "UpdateAgentAliasResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Updates an existing Alias for an Amazon Bedrock Agent</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>This exception is thrown when the number of requests exceeds the limit</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>This exception is thrown when a request is denied per access permissions</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>This exception is thrown when the request's input validation fails</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>This exception is thrown if there was an unexpected error during processing of request</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>This exception is thrown when there is a conflict performing an operation</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>This exception is thrown when a request is made beyond the service quota</p>",
        "httpStatusCode" : 402
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateAgentAliasRequest",
        "variableName" : "updateAgentAliasRequest",
        "variableType" : "UpdateAgentAliasRequest",
        "documentation" : "<p>Update Agent Alias Request</p>",
        "simpleType" : "UpdateAgentAliasRequest",
        "variableSetterType" : "UpdateAgentAliasRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateAgentAlias",
      "operationName" : "UpdateAgentAlias",
      "returnType" : {
[...]
