{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "EnumSetterOverload", "ClientMutationMethods", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-07-15",
    "asyncClient" : "AmazonChimeSDKMediaPipelinesAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKMediaPipelinesAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKMediaPipelinesAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKMediaPipelinesModuleInjector",
    "defaultEndpoint" : "media-pipelines-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "media-pipelines-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK media pipeline APIs in this section allow software developers to create Amazon Chime SDK media pipelines and capture audio, video, events, and data messages from Amazon Chime SDK meetings. For more information about media pipleines, see <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Media_Pipelines.html\">Amzon Chime SDK media pipelines</a>. </p>",
    "endpointPrefix" : "media-pipelines-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkmediapipelines",
    "packagePath" : "com/amazonaws/services/chimesdkmediapipelines",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Media Pipelines",
    "serviceId" : "Chime SDK Media Pipelines",
    "serviceName" : "Amazon Chime SDK Media Pipelines",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkmediapipelines.smoketests",
    "syncClient" : "AmazonChimeSDKMediaPipelinesClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKMediaPipelinesClientBuilder",
    "syncInterface" : "AmazonChimeSDKMediaPipelines",
    "uid" : "chime-sdk-media-pipelines-2021-07-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "CreateMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMediaCapturePipelineRequest, CreateMediaCapturePipelineResult>",
      "asyncReturnType" : "CreateMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a media capture pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMediaCapturePipelineRequest",
        "variableName" : "createMediaCapturePipelineRequest",
        "variableType" : "CreateMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "CreateMediaCapturePipelineRequest",
        "variableSetterType" : "CreateMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMediaCapturePipeline",
      "operationName" : "CreateMediaCapturePipeline",
      "returnType" : {
        "returnType" : "CreateMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMediaCapturePipelineResult"
    },
    "DeleteMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMediaCapturePipelineRequest, DeleteMediaCapturePipelineResult>",
      "asyncReturnType" : "DeleteMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the media capture pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMediaCapturePipelineRequest",
        "variableName" : "deleteMediaCapturePipelineRequest",
        "variableType" : "DeleteMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "DeleteMediaCapturePipelineRequest",
        "variableSetterType" : "DeleteMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMediaCapturePipeline",
      "operationName" : "DeleteMediaCapturePipeline",
      "returnType" : {
        "returnType" : "DeleteMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMediaCapturePipelineResult"
    },
    "GetMediaCapturePipeline" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMediaCapturePipelineResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMediaCapturePipelineResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMediaCapturePipelineRequest, GetMediaCapturePipelineResult>",
      "asyncReturnType" : "GetMediaCapturePipelineResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets an existing media capture pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMediaCapturePipelineRequest",
        "variableName" : "getMediaCapturePipelineRequest",
        "variableType" : "GetMediaCapturePipelineRequest",
        "documentation" : "",
        "simpleType" : "GetMediaCapturePipelineRequest",
        "variableSetterType" : "GetMediaCapturePipelineRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMediaCapturePipeline",
      "operationName" : "GetMediaCapturePipeline",
      "returnType" : {
        "returnType" : "GetMediaCapturePipelineResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMediaCapturePipelineResult"
    },
    "ListMediaCapturePipelines" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListMediaCapturePipelinesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListMediaCapturePipelinesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListMediaCapturePipelinesRequest, ListMediaCapturePipelinesResult>",
      "asyncReturnType" : "ListMediaCapturePipelinesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of media capture pipelines.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ResourceLimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListMediaCapturePipelinesRequest",
        "variableName" : "listMediaCapturePipelinesRequest",
        "variableType" : "ListMediaCapturePipelinesRequest",
        "documentation" : "",
        "simpleType" : "ListMediaCapturePipelinesRequest",
        "variableSetterType" : "ListMediaCapturePipelinesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listMediaCapturePipelines",
      "operationName" : "ListMediaCapturePipelines",
      "returnType" : {
        "returnType" : "ListMediaCapturePipelinesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListMediaCapturePipelinesResult"
    },
    "ListTagsForResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListTagsForResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListTagsForResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListTagsForResourceRequest, ListTagsForResourceResult>",
      "asyncReturnType" : "ListTagsForResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Lists the tags applied to an Amazon Chime SDK media capture pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListTagsForResourceRequest",
        "variableName" : "listTagsForResourceRequest",
        "variableType" : "ListTagsForResourceRequest",
        "documentation" : "",
        "simpleType" : "ListTagsForResourceRequest",
        "variableSetterType" : "ListTagsForResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listTagsForResource",
      "operationName" : "ListTagsForResource",
      "returnType" : {
        "returnType" : "ListTagsForResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "ListTagsForResourceResult"
    },
    "TagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<TagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<TagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<TagResourceRequest, TagResourceResult>",
      "asyncReturnType" : "TagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Applies the specified tags to the specified Amazon Chime SDK media capture pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "TagResourceRequest",
        "variableName" : "tagResourceRequest",
        "variableType" : "TagResourceRequest",
        "documentation" : "",
        "simpleType" : "TagResourceRequest",
        "variableSetterType" : "TagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "tagResource",
      "operationName" : "TagResource",
      "returnType" : {
        "returnType" : "TagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "TagResourceResult"
    },
    "UntagResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UntagResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UntagResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UntagResourceRequest, UntagResourceResult>",
      "asyncReturnType" : "UntagResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Removes the specified tags from the specified Amazon Chime SDK media capture pipeline.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedClientException",
        "documentation" : "<p>The client is not currently authorized to make the request.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ThrottledClientException",
        "documentation" : "<p>The client exceeded its request rate limit.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "ServiceFailureException",
        "documentation" : "<p>The service encountered an unexpected error.</p>",
        "httpStatusCode" : 500
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UntagResourceRequest",
        "variableName" : "untagResourceRequest",
        "variableType" : "UntagResourceRequest",
        "documentation" : "",
        "simpleType" : "UntagResourceRequest",
        "variableSetterType" : "UntagResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "untagResource",
      "operationName" : "UntagResource",
      "returnType" : {
        "returnType" : "UntagResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UntagResourceResult"
    }
  },
  "shapes" : {
    "ArtifactsConfiguration" : {
      "c2jName" : "ArtifactsConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration for the artifacts.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.ArtifactsConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Audio",
        "c2jShape" : "AudioArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the audio artifacts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAudio",
        "getterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@return The configuration for the audio artifacts.*/",
        "getterMethodName" : "getAudio",
        "getterModel" : {
          "returnType" : "AudioArtifactsConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Audio",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Audio",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Audio",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.*/",
        "setterMethodName" : "setAudio",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudioArtifactsConfiguration",
          "variableName" : "audio",
          "variableType" : "AudioArtifactsConfiguration",
          "documentation" : "",
          "simpleType" : "AudioArtifactsConfiguration",
          "variableSetterType" : "AudioArtifactsConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "AudioArtifactsConfiguration",
          "variableName" : "audio",
          "variableType" : "AudioArtifactsConfiguration",
          "documentation" : "<p>The configuration for the audio artifacts.</p>",
          "simpleType" : "AudioArtifactsConfiguration",
          "variableSetterType" : "AudioArtifactsConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Video",
        "c2jShape" : "VideoArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the video artifacts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withVideo",
        "getterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@return The configuration for the video artifacts.*/",
        "getterMethodName" : "getVideo",
        "getterModel" : {
          "returnType" : "VideoArtifactsConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Video",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Video",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Video",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.*/",
        "setterMethodName" : "setVideo",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VideoArtifactsConfiguration",
          "variableName" : "video",
          "variableType" : "VideoArtifactsConfiguration",
          "documentation" : "",
          "simpleType" : "VideoArtifactsConfiguration",
          "variableSetterType" : "VideoArtifactsConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "VideoArtifactsConfiguration",
          "variableName" : "video",
          "variableType" : "VideoArtifactsConfiguration",
          "documentation" : "<p>The configuration for the video artifacts.</p>",
          "simpleType" : "VideoArtifactsConfiguration",
          "variableSetterType" : "VideoArtifactsConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Content",
        "c2jShape" : "ContentArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the content artifacts.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withContent",
        "getterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@return The configuration for the content artifacts.*/",
        "getterMethodName" : "getContent",
        "getterModel" : {
          "returnType" : "ContentArtifactsConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Content",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Content",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Content",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.*/",
        "setterMethodName" : "setContent",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContentArtifactsConfiguration",
          "variableName" : "content",
          "variableType" : "ContentArtifactsConfiguration",
          "documentation" : "",
          "simpleType" : "ContentArtifactsConfiguration",
          "variableSetterType" : "ContentArtifactsConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ContentArtifactsConfiguration",
          "variableName" : "content",
          "variableType" : "ContentArtifactsConfiguration",
          "documentation" : "<p>The configuration for the content artifacts.</p>",
          "simpleType" : "ContentArtifactsConfiguration",
          "variableSetterType" : "ContentArtifactsConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Audio" : {
          "c2jName" : "Audio",
          "c2jShape" : "AudioArtifactsConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the audio artifacts.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAudio",
          "getterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@return The configuration for the audio artifacts.*/",
          "getterMethodName" : "getAudio",
          "getterModel" : {
            "returnType" : "AudioArtifactsConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Audio",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Audio",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Audio",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.*/",
          "setterMethodName" : "setAudio",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AudioArtifactsConfiguration",
            "variableName" : "audio",
            "variableType" : "AudioArtifactsConfiguration",
            "documentation" : "",
            "simpleType" : "AudioArtifactsConfiguration",
            "variableSetterType" : "AudioArtifactsConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the audio artifacts.</p>\n@param audio The configuration for the audio artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "AudioArtifactsConfiguration",
            "variableName" : "audio",
            "variableType" : "AudioArtifactsConfiguration",
            "documentation" : "<p>The configuration for the audio artifacts.</p>",
            "simpleType" : "AudioArtifactsConfiguration",
            "variableSetterType" : "AudioArtifactsConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "Content" : {
          "c2jName" : "Content",
          "c2jShape" : "ContentArtifactsConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the content artifacts.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withContent",
          "getterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@return The configuration for the content artifacts.*/",
          "getterMethodName" : "getContent",
          "getterModel" : {
            "returnType" : "ContentArtifactsConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Content",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Content",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Content",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.*/",
          "setterMethodName" : "setContent",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContentArtifactsConfiguration",
            "variableName" : "content",
            "variableType" : "ContentArtifactsConfiguration",
            "documentation" : "",
            "simpleType" : "ContentArtifactsConfiguration",
            "variableSetterType" : "ContentArtifactsConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the content artifacts.</p>\n@param content The configuration for the content artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ContentArtifactsConfiguration",
            "variableName" : "content",
            "variableType" : "ContentArtifactsConfiguration",
            "documentation" : "<p>The configuration for the content artifacts.</p>",
            "simpleType" : "ContentArtifactsConfiguration",
            "variableSetterType" : "ContentArtifactsConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "Video" : {
          "c2jName" : "Video",
          "c2jShape" : "VideoArtifactsConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the video artifacts.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withVideo",
          "getterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@return The configuration for the video artifacts.*/",
          "getterMethodName" : "getVideo",
          "getterModel" : {
            "returnType" : "VideoArtifactsConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Video",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Video",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Video",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.*/",
          "setterMethodName" : "setVideo",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "VideoArtifactsConfiguration",
            "variableName" : "video",
            "variableType" : "VideoArtifactsConfiguration",
            "documentation" : "",
            "simpleType" : "VideoArtifactsConfiguration",
            "variableSetterType" : "VideoArtifactsConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the video artifacts.</p>\n@param video The configuration for the video artifacts.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "VideoArtifactsConfiguration",
            "variableName" : "video",
            "variableType" : "VideoArtifactsConfiguration",
            "documentation" : "<p>The configuration for the video artifacts.</p>",
            "simpleType" : "VideoArtifactsConfiguration",
            "variableSetterType" : "VideoArtifactsConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Audio", "Video", "Content" ],
      "shapeName" : "ArtifactsConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactsConfiguration",
        "variableName" : "artifactsConfiguration",
        "variableType" : "ArtifactsConfiguration",
        "documentation" : null,
        "simpleType" : "ArtifactsConfiguration",
        "variableSetterType" : "ArtifactsConfiguration"
      },
      "wrapper" : false
    },
    "ArtifactsState" : {
      "c2jName" : "ArtifactsState",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "Enabled",
        "value" : "Enabled"
      }, {
        "name" : "Disabled",
        "value" : "Disabled"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.enum.ArtifactsState",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ArtifactsState",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ArtifactsState",
        "variableName" : "artifactsState",
        "variableType" : "ArtifactsState",
        "documentation" : null,
        "simpleType" : "ArtifactsState",
        "variableSetterType" : "ArtifactsState"
      },
      "wrapper" : false
    },
    "AudioArtifactsConfiguration" : {
      "c2jName" : "AudioArtifactsConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The audio artifact configuration object.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.AudioArtifactsConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "MuxType",
        "c2jShape" : "AudioMuxType",
        "deprecated" : false,
        "documentation" : "<p>The MUX type of the audio artifact configuration object.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "AudioMuxType",
        "fluentSetterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@param muxType The MUX type of the audio artifact configuration object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AudioMuxType*/",
        "fluentSetterMethodName" : "withMuxType",
        "getterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@return The MUX type of the audio artifact configuration object.\n@see AudioMuxType*/",
        "getterMethodName" : "getMuxType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MuxType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MuxType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MuxType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@param muxType The MUX type of the audio artifact configuration object.\n@see AudioMuxType*/",
        "setterMethodName" : "setMuxType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "muxType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@param muxType The MUX type of the audio artifact configuration object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AudioMuxType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "muxType",
          "variableType" : "String",
          "documentation" : "<p>The MUX type of the audio artifact configuration object.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MuxType" : {
          "c2jName" : "MuxType",
          "c2jShape" : "AudioMuxType",
          "deprecated" : false,
          "documentation" : "<p>The MUX type of the audio artifact configuration object.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "AudioMuxType",
          "fluentSetterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@param muxType The MUX type of the audio artifact configuration object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AudioMuxType*/",
          "fluentSetterMethodName" : "withMuxType",
          "getterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@return The MUX type of the audio artifact configuration object.\n@see AudioMuxType*/",
          "getterMethodName" : "getMuxType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MuxType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MuxType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MuxType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@param muxType The MUX type of the audio artifact configuration object.\n@see AudioMuxType*/",
          "setterMethodName" : "setMuxType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "muxType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The MUX type of the audio artifact configuration object.</p>\n@param muxType The MUX type of the audio artifact configuration object.\n@return Returns a reference to this object so that method calls can be chained together.\n@see AudioMuxType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "muxType",
            "variableType" : "String",
            "documentation" : "<p>The MUX type of the audio artifact configuration object.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "MuxType" ],
      "shapeName" : "AudioArtifactsConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AudioArtifactsConfiguration",
        "variableName" : "audioArtifactsConfiguration",
        "variableType" : "AudioArtifactsConfiguration",
        "documentation" : null,
        "simpleType" : "AudioArtifactsConfiguration",
        "variableSetterType" : "AudioArtifactsConfiguration"
      },
      "wrapper" : false
    },
    "AudioMuxType" : {
      "c2jName" : "AudioMuxType",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "AudioOnly",
        "value" : "AudioOnly"
      }, {
        "name" : "AudioWithActiveSpeakerVideo",
        "value" : "AudioWithActiveSpeakerVideo"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.enum.AudioMuxType",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AudioMuxType",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AudioMuxType",
        "variableName" : "audioMuxType",
        "variableType" : "AudioMuxType",
        "documentation" : null,
        "simpleType" : "AudioMuxType",
        "variableSetterType" : "AudioMuxType"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.exception.BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Code",
        "c2jShape" : "ErrorCode",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : "ErrorCode",
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return \n@see ErrorCode*/",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code \n@see ErrorCode*/",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RequestId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@return The request id associated with the call responsible for the exception.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "Code",
          "c2jShape" : "ErrorCode",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : "ErrorCode",
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return \n@see ErrorCode*/",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code \n@see ErrorCode*/",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.\n@see ErrorCode*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RequestId" : {
          "c2jName" : "RequestId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestId",
          "getterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@return The request id associated with the call responsible for the exception.*/",
          "getterMethodName" : "getRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.*/",
          "setterMethodName" : "setRequestId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "ChimeSdkMeetingConfiguration" : {
      "c2jName" : "ChimeSdkMeetingConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The configuration object of the Amazon Chime SDK meeting for a specified media capture pipeline. <code>SourceType</code> must be <code>ChimeSdkMeeting</code>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.ChimeSdkMeetingConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "SourceConfiguration",
        "c2jShape" : "SourceConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The source configuration for a specified media capture pipline.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@param sourceConfiguration The source configuration for a specified media capture pipline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSourceConfiguration",
        "getterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@return The source configuration for a specified media capture pipline.*/",
        "getterMethodName" : "getSourceConfiguration",
        "getterModel" : {
          "returnType" : "SourceConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SourceConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SourceConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "SourceConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@param sourceConfiguration The source configuration for a specified media capture pipline.*/",
        "setterMethodName" : "setSourceConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SourceConfiguration",
          "variableName" : "sourceConfiguration",
          "variableType" : "SourceConfiguration",
          "documentation" : "",
          "simpleType" : "SourceConfiguration",
          "variableSetterType" : "SourceConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@param sourceConfiguration The source configuration for a specified media capture pipline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "SourceConfiguration",
          "variableName" : "sourceConfiguration",
          "variableType" : "SourceConfiguration",
          "documentation" : "<p>The source configuration for a specified media capture pipline.</p>",
          "simpleType" : "SourceConfiguration",
          "variableSetterType" : "SourceConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ArtifactsConfiguration",
        "c2jShape" : "ArtifactsConfiguration",
        "deprecated" : false,
        "documentation" : "<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@param artifactsConfiguration The configuration for the artifacts in an Amazon Chime SDK meeting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withArtifactsConfiguration",
        "getterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@return The configuration for the artifacts in an Amazon Chime SDK meeting.*/",
        "getterMethodName" : "getArtifactsConfiguration",
        "getterModel" : {
          "returnType" : "ArtifactsConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ArtifactsConfiguration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ArtifactsConfiguration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ArtifactsConfiguration",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@param artifactsConfiguration The configuration for the artifacts in an Amazon Chime SDK meeting.*/",
        "setterMethodName" : "setArtifactsConfiguration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ArtifactsConfiguration",
          "variableName" : "artifactsConfiguration",
          "variableType" : "ArtifactsConfiguration",
          "documentation" : "",
          "simpleType" : "ArtifactsConfiguration",
          "variableSetterType" : "ArtifactsConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@param artifactsConfiguration The configuration for the artifacts in an Amazon Chime SDK meeting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ArtifactsConfiguration",
          "variableName" : "artifactsConfiguration",
          "variableType" : "ArtifactsConfiguration",
          "documentation" : "<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>",
          "simpleType" : "ArtifactsConfiguration",
          "variableSetterType" : "ArtifactsConfiguration"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ArtifactsConfiguration" : {
          "c2jName" : "ArtifactsConfiguration",
          "c2jShape" : "ArtifactsConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@param artifactsConfiguration The configuration for the artifacts in an Amazon Chime SDK meeting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withArtifactsConfiguration",
          "getterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@return The configuration for the artifacts in an Amazon Chime SDK meeting.*/",
          "getterMethodName" : "getArtifactsConfiguration",
          "getterModel" : {
            "returnType" : "ArtifactsConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ArtifactsConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ArtifactsConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ArtifactsConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@param artifactsConfiguration The configuration for the artifacts in an Amazon Chime SDK meeting.*/",
          "setterMethodName" : "setArtifactsConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ArtifactsConfiguration",
            "variableName" : "artifactsConfiguration",
            "variableType" : "ArtifactsConfiguration",
            "documentation" : "",
            "simpleType" : "ArtifactsConfiguration",
            "variableSetterType" : "ArtifactsConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>\n@param artifactsConfiguration The configuration for the artifacts in an Amazon Chime SDK meeting.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ArtifactsConfiguration",
            "variableName" : "artifactsConfiguration",
            "variableType" : "ArtifactsConfiguration",
            "documentation" : "<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>",
            "simpleType" : "ArtifactsConfiguration",
            "variableSetterType" : "ArtifactsConfiguration"
          },
          "xmlNameSpaceUri" : null
        },
        "SourceConfiguration" : {
          "c2jName" : "SourceConfiguration",
          "c2jShape" : "SourceConfiguration",
          "deprecated" : false,
          "documentation" : "<p>The source configuration for a specified media capture pipline.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@param sourceConfiguration The source configuration for a specified media capture pipline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSourceConfiguration",
          "getterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@return The source configuration for a specified media capture pipline.*/",
          "getterMethodName" : "getSourceConfiguration",
          "getterModel" : {
            "returnType" : "SourceConfiguration",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SourceConfiguration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SourceConfiguration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "SourceConfiguration",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@param sourceConfiguration The source configuration for a specified media capture pipline.*/",
          "setterMethodName" : "setSourceConfiguration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SourceConfiguration",
            "variableName" : "sourceConfiguration",
            "variableType" : "SourceConfiguration",
            "documentation" : "",
            "simpleType" : "SourceConfiguration",
            "variableSetterType" : "SourceConfiguration"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The source configuration for a specified media capture pipline.</p>\n@param sourceConfiguration The source configuration for a specified media capture pipline.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "SourceConfiguration",
            "variableName" : "sourceConfiguration",
            "variableType" : "SourceConfiguration",
            "documentation" : "<p>The source configuration for a specified media capture pipline.</p>",
            "simpleType" : "SourceConfiguration",
            "variableSetterType" : "SourceConfiguration"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmediapipelines.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ChimeSdkMeetingConfiguration",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ChimeSdkMeetingConfiguration",
        "variableName" : "chimeSdkMeetingConfiguration",
        "variableType" : "ChimeSdkMeetingConfiguration",
        "documentation" : null,
        "simpleType" : "ChimeSdkMeetingConfiguration",
        "variableSetterType" : "ChimeSdkMeetingConfiguration"
      },
      "wrapper" : false
    },
    "ContentArtifactsConfiguration" : {
      "c2jName" : "ContentArtifactsConfiguration",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The content artifact object.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmediapipelines.model.ContentArtifactsConfiguration",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "State",
        "c2jShape" : "ArtifactsState",
        "deprecated" : false,
        "documentation" : "<p>Indicates whether the content artifact is enabled or disabled.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ArtifactsState",
        "fluentSetterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@param state Indicates whether the content artifact is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ArtifactsState*/",
        "fluentSetterMethodName" : "withState",
        "getterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@return Indicates whether the content artifact is enabled or disabled.\n@see ArtifactsState*/",
        "getterMethodName" : "getState",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "State",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "State",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "State",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@param state Indicates whether the content artifact is enabled or disabled.\n@see ArtifactsState*/",
        "setterMethodName" : "setState",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@param state Indicates whether the content artifact is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ArtifactsState*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "state",
          "variableType" : "String",
          "documentation" : "<p>Indicates whether the content artifact is enabled or disabled.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "MuxType",
        "c2jShape" : "ContentMuxType",
        "deprecated" : false,
        "documentation" : "<p>The MUX type of the artifact configuration.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "ContentMuxType",
        "fluentSetterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@param muxType The MUX type of the artifact configuration.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentMuxType*/",
        "fluentSetterMethodName" : "withMuxType",
        "getterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@return The MUX type of the artifact configuration.\n@see ContentMuxType*/",
        "getterMethodName" : "getMuxType",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "MuxType",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MuxType",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MuxType",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@param muxType The MUX type of the artifact configuration.\n@see ContentMuxType*/",
        "setterMethodName" : "setMuxType",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "muxType",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@param muxType The MUX type of the artifact configuration.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentMuxType*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "muxType",
          "variableType" : "String",
          "documentation" : "<p>The MUX type of the artifact configuration.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "MuxType" : {
          "c2jName" : "MuxType",
          "c2jShape" : "ContentMuxType",
          "deprecated" : false,
          "documentation" : "<p>The MUX type of the artifact configuration.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ContentMuxType",
          "fluentSetterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@param muxType The MUX type of the artifact configuration.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentMuxType*/",
          "fluentSetterMethodName" : "withMuxType",
          "getterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@return The MUX type of the artifact configuration.\n@see ContentMuxType*/",
          "getterMethodName" : "getMuxType",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "MuxType",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MuxType",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MuxType",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@param muxType The MUX type of the artifact configuration.\n@see ContentMuxType*/",
          "setterMethodName" : "setMuxType",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "muxType",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The MUX type of the artifact configuration.</p>\n@param muxType The MUX type of the artifact configuration.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ContentMuxType*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "muxType",
            "variableType" : "String",
            "documentation" : "<p>The MUX type of the artifact configuration.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "State" : {
          "c2jName" : "State",
          "c2jShape" : "ArtifactsState",
          "deprecated" : false,
          "documentation" : "<p>Indicates whether the content artifact is enabled or disabled.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "ArtifactsState",
          "fluentSetterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@param state Indicates whether the content artifact is enabled or disabled.\n@return Returns a reference to this object so that method calls can be chained together.\n@see ArtifactsState*/",
          "fluentSetterMethodName" : "withState",
          "getterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@return Indicates whether the content artifact is enabled or disabled.\n@see ArtifactsState*/",
          "getterMethodName" : "getState",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "State",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "State",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "State",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Indicates whether the content artifact is enabled or disabled.</p>\n@param state Indicates whether the content artifact is enabled or disabled.\n@see ArtifactsState*/",
          "setterMethodName" : "setState",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "state",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
[...]
