{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "EnumSetterOverload", "ClientMutationMethods" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2022-07-26",
    "asyncClient" : "AmazonCloudFrontKeyValueStoreAsyncClient",
    "asyncClientBuilderClassName" : "AmazonCloudFrontKeyValueStoreAsyncClientBuilder",
    "asyncInterface" : "AmazonCloudFrontKeyValueStoreAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonCloudFrontKeyValueStoreModuleInjector",
    "defaultEndpoint" : "cloudfront-keyvaluestore.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "cloudfront-keyvaluestore.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Amazon CloudFront KeyValueStore Service to View and Update Data in a KVS Resource</p>",
    "endpointPrefix" : "cloudfront-keyvaluestore",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore",
    "packagePath" : "com/amazonaws/services/cloudfrontkeyvaluestore",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon CloudFront KeyValueStore",
    "serviceId" : "CloudFront KeyValueStore",
    "serviceName" : "Amazon CloudFront KeyValueStore",
    "signingName" : "cloudfront-keyvaluestore",
    "smokeTestsPackageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.smoketests",
    "syncClient" : "AmazonCloudFrontKeyValueStoreClient",
    "syncClientBuilderClassName" : "AmazonCloudFrontKeyValueStoreClientBuilder",
    "syncInterface" : "AmazonCloudFrontKeyValueStore",
    "uid" : "cloudfront-keyvaluestore-2022-07-26",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "DeleteKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteKeyRequest, DeleteKeyResult>",
      "asyncReturnType" : "DeleteKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the key value pair specified by the key.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Resource is not in expected state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation failed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Limit exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKeyRequest",
        "variableName" : "deleteKeyRequest",
        "variableType" : "DeleteKeyRequest",
        "documentation" : "",
        "simpleType" : "DeleteKeyRequest",
        "variableSetterType" : "DeleteKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteKey",
      "operationName" : "DeleteKey",
      "returnType" : {
        "returnType" : "DeleteKeyResult",
        "documentation" : "<p>Metadata information about a Key Value Store.</p>"
      },
      "syncReturnType" : "DeleteKeyResult"
    },
    "DescribeKeyValueStore" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeKeyValueStoreResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeKeyValueStoreResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeKeyValueStoreRequest, DescribeKeyValueStoreResult>",
      "asyncReturnType" : "DescribeKeyValueStoreResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns metadata information about Key Value Store.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Resource is not in expected state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeKeyValueStoreRequest",
        "variableName" : "describeKeyValueStoreRequest",
        "variableType" : "DescribeKeyValueStoreRequest",
        "documentation" : "",
        "simpleType" : "DescribeKeyValueStoreRequest",
        "variableSetterType" : "DescribeKeyValueStoreRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeKeyValueStore",
      "operationName" : "DescribeKeyValueStore",
      "returnType" : {
        "returnType" : "DescribeKeyValueStoreResult",
        "documentation" : "<p>Metadata information about a Key Value Store.</p>"
      },
      "syncReturnType" : "DescribeKeyValueStoreResult"
    },
    "GetKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetKeyRequest, GetKeyResult>",
      "asyncReturnType" : "GetKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a key value pair.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Resource is not in expected state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetKeyRequest",
        "variableName" : "getKeyRequest",
        "variableType" : "GetKeyRequest",
        "documentation" : "",
        "simpleType" : "GetKeyRequest",
        "variableSetterType" : "GetKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getKey",
      "operationName" : "GetKey",
      "returnType" : {
        "returnType" : "GetKeyResult",
        "documentation" : "<p>A key value pair.</p>"
      },
      "syncReturnType" : "GetKeyResult"
    },
    "ListKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListKeysRequest, ListKeysResult>",
      "asyncReturnType" : "ListKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Returns a list of key value pairs.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Resource is not in expected state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation failed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListKeysRequest",
        "variableName" : "listKeysRequest",
        "variableType" : "ListKeysRequest",
        "documentation" : "",
        "simpleType" : "ListKeysRequest",
        "variableSetterType" : "ListKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listKeys",
      "operationName" : "ListKeys",
      "returnType" : {
        "returnType" : "ListKeysResult",
        "documentation" : null
      },
      "syncReturnType" : "ListKeysResult"
    },
    "PutKey" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutKeyResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutKeyResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutKeyRequest, PutKeyResult>",
      "asyncReturnType" : "PutKeyResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new key value pair or replaces the value of an existing key.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Resource is not in expected state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation failed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Limit exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutKeyRequest",
        "variableName" : "putKeyRequest",
        "variableType" : "PutKeyRequest",
        "documentation" : "<p>A key value pair.</p>",
        "simpleType" : "PutKeyRequest",
        "variableSetterType" : "PutKeyRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putKey",
      "operationName" : "PutKey",
      "returnType" : {
        "returnType" : "PutKeyResult",
        "documentation" : "<p>Metadata information about a Key Value Store.</p>"
      },
      "syncReturnType" : "PutKeyResult"
    },
    "UpdateKeys" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateKeysResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateKeysResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateKeysRequest, UpdateKeysResult>",
      "asyncReturnType" : "UpdateKeysResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Puts or Deletes multiple key value pairs in a single, all-or-nothing operation.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConflictException",
        "documentation" : "<p>Resource is not in expected state.</p>",
        "httpStatusCode" : 409
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Validation failed.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>Internal server error.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>Limit exceeded.</p>",
        "httpStatusCode" : 402
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>Resource was not found.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>Access denied.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateKeysRequest",
        "variableName" : "updateKeysRequest",
        "variableType" : "UpdateKeysRequest",
        "documentation" : "",
        "simpleType" : "UpdateKeysRequest",
        "variableSetterType" : "UpdateKeysRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateKeys",
      "operationName" : "UpdateKeys",
      "returnType" : {
        "returnType" : "UpdateKeysResult",
        "documentation" : "<p>Metadata information about a Key Value Store.</p>"
      },
      "syncReturnType" : "UpdateKeysResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Access denied.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "ConflictException" : {
      "c2jName" : "ConflictException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Resource is not in expected state.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "ConflictException",
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.exception.ConflictException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConflictException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConflictException",
        "variableName" : "conflictException",
        "variableType" : "ConflictException",
        "documentation" : null,
        "simpleType" : "ConflictException",
        "variableSetterType" : "ConflictException"
      },
      "wrapper" : false
    },
    "DeleteKeyRequest" : {
      "c2jName" : "DeleteKeyRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.request.DeleteKeyRequest",
      "hasHeaderMember" : true,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DeleteKey",
        "locationName" : null,
        "requestUri" : "/key-value-stores/{KvsARN}/keys/{Key}",
        "target" : null,
        "verb" : "DELETE",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "KvsARN",
        "c2jShape" : "KvsARN",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKvsARN",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@return The Amazon Resource Name (ARN) of the Key Value Store.*/",
        "getterMethodName" : "getKvsARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "KvsARN",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "KvsARN",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KvsARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.*/",
        "setterMethodName" : "setKvsARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kvsARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kvsARN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Key",
        "c2jShape" : "Key",
        "deprecated" : false,
        "documentation" : "<p>The key to delete.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key to delete.</p>\n@param key The key to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p>The key to delete.</p>\n@return The key to delete.*/",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "Key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The key to delete.</p>\n@param key The key to delete.*/",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The key to delete.</p>\n@param key The key to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>The key to delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "IfMatch",
        "c2jShape" : "Etag",
        "deprecated" : false,
        "documentation" : "<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@param ifMatch The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withIfMatch",
        "getterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@return The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.*/",
        "getterMethodName" : "getIfMatch",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "If-Match",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "If-Match",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "IfMatch",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@param ifMatch The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.*/",
        "setterMethodName" : "setIfMatch",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ifMatch",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@param ifMatch The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "ifMatch",
          "variableType" : "String",
          "documentation" : "<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "IfMatch" : {
          "c2jName" : "IfMatch",
          "c2jShape" : "Etag",
          "deprecated" : false,
          "documentation" : "<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@param ifMatch The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withIfMatch",
          "getterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@return The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.*/",
          "getterMethodName" : "getIfMatch",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "If-Match",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "If-Match",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "IfMatch",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@param ifMatch The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.*/",
          "setterMethodName" : "setIfMatch",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ifMatch",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>\n@param ifMatch The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "ifMatch",
            "variableType" : "String",
            "documentation" : "<p>The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "Key",
          "deprecated" : false,
          "documentation" : "<p>The key to delete.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The key to delete.</p>\n@param key The key to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKey",
          "getterDocumentation" : "/**<p>The key to delete.</p>\n@return The key to delete.*/",
          "getterMethodName" : "getKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "Key",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Key",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Key",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The key to delete.</p>\n@param key The key to delete.*/",
          "setterMethodName" : "setKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The key to delete.</p>\n@param key The key to delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p>The key to delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "KvsARN" : {
          "c2jName" : "KvsARN",
          "c2jShape" : "KvsARN",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKvsARN",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@return The Amazon Resource Name (ARN) of the Key Value Store.*/",
          "getterMethodName" : "getKvsARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "KvsARN",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "KvsARN",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KvsARN",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.*/",
          "setterMethodName" : "setKvsARN",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kvsARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kvsARN",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "KvsARN", "Key", "IfMatch" ],
      "shapeName" : "DeleteKeyRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKeyRequest",
        "variableName" : "deleteKeyRequest",
        "variableType" : "DeleteKeyRequest",
        "documentation" : null,
        "simpleType" : "DeleteKeyRequest",
        "variableSetterType" : "DeleteKeyRequest"
      },
      "wrapper" : false
    },
    "DeleteKeyRequestListItem" : {
      "c2jName" : "DeleteKeyRequestListItem",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>List item for keys to delete.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.model.DeleteKeyRequestListItem",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Key",
        "c2jShape" : "Key",
        "deprecated" : false,
        "documentation" : "<p>The key of the key value pair to be deleted.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@param key The key of the key value pair to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKey",
        "getterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@return The key of the key value pair to be deleted.*/",
        "getterMethodName" : "getKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Key",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Key",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Key",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@param key The key of the key value pair to be deleted.*/",
        "setterMethodName" : "setKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@param key The key of the key value pair to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "key",
          "variableType" : "String",
          "documentation" : "<p>The key of the key value pair to be deleted.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Key" : {
          "c2jName" : "Key",
          "c2jShape" : "Key",
          "deprecated" : false,
          "documentation" : "<p>The key of the key value pair to be deleted.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@param key The key of the key value pair to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKey",
          "getterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@return The key of the key value pair to be deleted.*/",
          "getterMethodName" : "getKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Key",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Key",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Key",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@param key The key of the key value pair to be deleted.*/",
          "setterMethodName" : "setKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The key of the key value pair to be deleted.</p>\n@param key The key of the key value pair to be deleted.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "key",
            "variableType" : "String",
            "documentation" : "<p>The key of the key value pair to be deleted.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Key" ],
      "shapeName" : "DeleteKeyRequestListItem",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKeyRequestListItem",
        "variableName" : "deleteKeyRequestListItem",
        "variableType" : "DeleteKeyRequestListItem",
        "documentation" : null,
        "simpleType" : "DeleteKeyRequestListItem",
        "variableSetterType" : "DeleteKeyRequestListItem"
      },
      "wrapper" : false
    },
    "DeleteKeyResult" : {
      "c2jName" : "DeleteKeyResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Metadata information about a Key Value Store.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.response.DeleteKeyResult",
      "hasHeaderMember" : true,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ItemCount",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>Number of key value pairs in the Key Value Store after the successful delete.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@param itemCount Number of key value pairs in the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withItemCount",
        "getterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@return Number of key value pairs in the Key Value Store after the successful delete.*/",
        "getterMethodName" : "getItemCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ItemCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ItemCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ItemCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@param itemCount Number of key value pairs in the Key Value Store after the successful delete.*/",
        "setterMethodName" : "setItemCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "itemCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@param itemCount Number of key value pairs in the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "itemCount",
          "variableType" : "Integer",
          "documentation" : "<p>Number of key value pairs in the Key Value Store after the successful delete.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TotalSizeInBytes",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>Total size of the Key Value Store after the successful delete, in bytes.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store after the successful delete, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotalSizeInBytes",
        "getterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@return Total size of the Key Value Store after the successful delete, in bytes.*/",
        "getterMethodName" : "getTotalSizeInBytes",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TotalSizeInBytes",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TotalSizeInBytes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "TotalSizeInBytes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store after the successful delete, in bytes.*/",
        "setterMethodName" : "setTotalSizeInBytes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "totalSizeInBytes",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store after the successful delete, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "totalSizeInBytes",
          "variableType" : "Long",
          "documentation" : "<p>Total size of the Key Value Store after the successful delete, in bytes.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ETag",
        "c2jShape" : "Etag",
        "deprecated" : false,
        "documentation" : "<p>The current version identifier of the Key Value Store after the successful delete.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@param eTag The current version identifier of the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withETag",
        "getterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@return The current version identifier of the Key Value Store after the successful delete.*/",
        "getterMethodName" : "getETag",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "ETag",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ETag",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ETag",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@param eTag The current version identifier of the Key Value Store after the successful delete.*/",
        "setterMethodName" : "setETag",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eTag",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@param eTag The current version identifier of the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eTag",
          "variableType" : "String",
          "documentation" : "<p>The current version identifier of the Key Value Store after the successful delete.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "ETag" : {
          "c2jName" : "ETag",
          "c2jShape" : "Etag",
          "deprecated" : false,
          "documentation" : "<p>The current version identifier of the Key Value Store after the successful delete.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@param eTag The current version identifier of the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withETag",
          "getterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@return The current version identifier of the Key Value Store after the successful delete.*/",
          "getterMethodName" : "getETag",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : true,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "header",
            "marshallLocation" : "HEADER",
            "marshallLocationName" : "ETag",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ETag",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ETag",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@param eTag The current version identifier of the Key Value Store after the successful delete.*/",
          "setterMethodName" : "setETag",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eTag",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The current version identifier of the Key Value Store after the successful delete.</p>\n@param eTag The current version identifier of the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "eTag",
            "variableType" : "String",
            "documentation" : "<p>The current version identifier of the Key Value Store after the successful delete.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ItemCount" : {
          "c2jName" : "ItemCount",
          "c2jShape" : "Integer",
          "deprecated" : false,
          "documentation" : "<p>Number of key value pairs in the Key Value Store after the successful delete.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@param itemCount Number of key value pairs in the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withItemCount",
          "getterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@return Number of key value pairs in the Key Value Store after the successful delete.*/",
          "getterMethodName" : "getItemCount",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ItemCount",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ItemCount",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "ItemCount",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@param itemCount Number of key value pairs in the Key Value Store after the successful delete.*/",
          "setterMethodName" : "setItemCount",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "itemCount",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store after the successful delete.</p>\n@param itemCount Number of key value pairs in the Key Value Store after the successful delete.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "itemCount",
            "variableType" : "Integer",
            "documentation" : "<p>Number of key value pairs in the Key Value Store after the successful delete.</p>",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "TotalSizeInBytes" : {
          "c2jName" : "TotalSizeInBytes",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>Total size of the Key Value Store after the successful delete, in bytes.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store after the successful delete, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withTotalSizeInBytes",
          "getterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@return Total size of the Key Value Store after the successful delete, in bytes.*/",
          "getterMethodName" : "getTotalSizeInBytes",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "TotalSizeInBytes",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "TotalSizeInBytes",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "TotalSizeInBytes",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store after the successful delete, in bytes.*/",
          "setterMethodName" : "setTotalSizeInBytes",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "totalSizeInBytes",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Total size of the Key Value Store after the successful delete, in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store after the successful delete, in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "totalSizeInBytes",
            "variableType" : "Long",
            "documentation" : "<p>Total size of the Key Value Store after the successful delete, in bytes.</p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.response",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "ItemCount", "TotalSizeInBytes", "ETag" ],
      "shapeName" : "DeleteKeyResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteKeyResult",
        "variableName" : "deleteKeyResult",
        "variableType" : "DeleteKeyResult",
        "documentation" : null,
        "simpleType" : "DeleteKeyResult",
        "variableSetterType" : "DeleteKeyResult"
      },
      "wrapper" : false
    },
    "DescribeKeyValueStoreRequest" : {
      "c2jName" : "DescribeKeyValueStoreRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.request.DescribeKeyValueStoreRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "DescribeKeyValueStore",
        "locationName" : null,
        "requestUri" : "/key-value-stores/{KvsARN}",
        "target" : null,
        "verb" : "GET",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "KvsARN",
        "c2jShape" : "KvsARN",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKvsARN",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@return The Amazon Resource Name (ARN) of the Key Value Store.*/",
        "getterMethodName" : "getKvsARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "KvsARN",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "KvsARN",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KvsARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.*/",
        "setterMethodName" : "setKvsARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kvsARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kvsARN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "KvsARN" : {
          "c2jName" : "KvsARN",
          "c2jShape" : "KvsARN",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withKvsARN",
          "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@return The Amazon Resource Name (ARN) of the Key Value Store.*/",
          "getterMethodName" : "getKvsARN",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "KvsARN",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "KvsARN",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "KvsARN",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.*/",
          "setterMethodName" : "setKvsARN",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kvsARN",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "kvsARN",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.cloudfrontkeyvaluestore.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "KvsARN" ],
      "shapeName" : "DescribeKeyValueStoreRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeKeyValueStoreRequest",
        "variableName" : "describeKeyValueStoreRequest",
        "variableType" : "DescribeKeyValueStoreRequest",
        "documentation" : null,
        "simpleType" : "DescribeKeyValueStoreRequest",
        "variableSetterType" : "DescribeKeyValueStoreRequest"
      },
      "wrapper" : false
    },
    "DescribeKeyValueStoreResult" : {
      "c2jName" : "DescribeKeyValueStoreResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Metadata information about a Key Value Store.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.cloudfrontkeyvaluestore.response.DescribeKeyValueStoreResult",
      "hasHeaderMember" : true,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ItemCount",
        "c2jShape" : "Integer",
        "deprecated" : false,
        "documentation" : "<p>Number of key value pairs in the Key Value Store.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store.</p>\n@param itemCount Number of key value pairs in the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withItemCount",
        "getterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store.</p>\n@return Number of key value pairs in the Key Value Store.*/",
        "getterMethodName" : "getItemCount",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ItemCount",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ItemCount",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "ItemCount",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store.</p>\n@param itemCount Number of key value pairs in the Key Value Store.*/",
        "setterMethodName" : "setItemCount",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "itemCount",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Number of key value pairs in the Key Value Store.</p>\n@param itemCount Number of key value pairs in the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "itemCount",
          "variableType" : "Integer",
          "documentation" : "<p>Number of key value pairs in the Key Value Store.</p>",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "TotalSizeInBytes",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>Total size of the Key Value Store in bytes.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Total size of the Key Value Store in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withTotalSizeInBytes",
        "getterDocumentation" : "/**<p>Total size of the Key Value Store in bytes.</p>\n@return Total size of the Key Value Store in bytes.*/",
        "getterMethodName" : "getTotalSizeInBytes",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "TotalSizeInBytes",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "TotalSizeInBytes",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "TotalSizeInBytes",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Total size of the Key Value Store in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store in bytes.*/",
        "setterMethodName" : "setTotalSizeInBytes",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "totalSizeInBytes",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Total size of the Key Value Store in bytes.</p>\n@param totalSizeInBytes Total size of the Key Value Store in bytes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "totalSizeInBytes",
          "variableType" : "Long",
          "documentation" : "<p>Total size of the Key Value Store in bytes.</p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "KvsARN",
        "c2jShape" : "KvsARN",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withKvsARN",
        "getterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@return The Amazon Resource Name (ARN) of the Key Value Store.*/",
        "getterMethodName" : "getKvsARN",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "KvsARN",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "KvsARN",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "KvsARN",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.*/",
        "setterMethodName" : "setKvsARN",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kvsARN",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>\n@param kvsARN The Amazon Resource Name (ARN) of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "kvsARN",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Resource Name (ARN) of the Key Value Store.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Created",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Date and time when the Key Value Store was created.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Date and time when the Key Value Store was created.</p>\n@param created Date and time when the Key Value Store was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCreated",
        "getterDocumentation" : "/**<p>Date and time when the Key Value Store was created.</p>\n@return Date and time when the Key Value Store was created.*/",
        "getterMethodName" : "getCreated",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Created",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Created",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Created",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Date and time when the Key Value Store was created.</p>\n@param created Date and time when the Key Value Store was created.*/",
        "setterMethodName" : "setCreated",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "created",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Date and time when the Key Value Store was created.</p>\n@param created Date and time when the Key Value Store was created.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "created",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Date and time when the Key Value Store was created.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "ETag",
        "c2jShape" : "Etag",
        "deprecated" : false,
        "documentation" : "<p>The version identifier for the current version of the Key Value Store.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The version identifier for the current version of the Key Value Store.</p>\n@param eTag The version identifier for the current version of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withETag",
        "getterDocumentation" : "/**<p>The version identifier for the current version of the Key Value Store.</p>\n@return The version identifier for the current version of the Key Value Store.*/",
        "getterMethodName" : "getETag",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : true,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "header",
          "marshallLocation" : "HEADER",
          "marshallLocationName" : "ETag",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ETag",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ETag",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The version identifier for the current version of the Key Value Store.</p>\n@param eTag The version identifier for the current version of the Key Value Store.*/",
        "setterMethodName" : "setETag",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eTag",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The version identifier for the current version of the Key Value Store.</p>\n@param eTag The version identifier for the current version of the Key Value Store.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "eTag",
          "variableType" : "String",
          "documentation" : "<p>The version identifier for the current version of the Key Value Store.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "LastModified",
        "c2jShape" : "Timestamp",
        "deprecated" : false,
        "documentation" : "<p>Date and time when the key value pairs in the Key Value Store was last modified.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Date and time when the key value pairs in the Key Value Store was last modified.</p>\n@param lastModified Date and time when the key value pairs in the Key Value Store was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLastModified",
        "getterDocumentation" : "/**<p>Date and time when the key value pairs in the Key Value Store was last modified.</p>\n@return Date and time when the key value pairs in the Key Value Store was last modified.*/",
        "getterMethodName" : "getLastModified",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "LastModified",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "LastModified",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "LastModified",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Date and time when the key value pairs in the Key Value Store was last modified.</p>\n@param lastModified Date and time when the key value pairs in the Key Value Store was last modified.*/",
        "setterMethodName" : "setLastModified",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModified",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Date and time when the key value pairs in the Key Value Store was last modified.</p>\n@param lastModified Date and time when the key value pairs in the Key Value Store was last modified.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "lastModified",
          "variableType" : "java.util.Date",
          "documentation" : "<p>Date and time when the key value pairs in the Key Value Store was last modified.</p>",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Created" : {
          "c2jName" : "Created",
          "c2jShape" : "Timestamp",
          "deprecated" : false,
          "documentation" : "<p>Date and time when the Key Value Store was created.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
[...]
